@use 'variables';

// 1 Value: Top+Bottom+Right+Left
// 2 Values: Top+Bottom Right+Left
// 3 Values: Top Right+Left Bottom
// 4 Values: Top Right Bottom Left

.header {
  height: variables.$header-height;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;

  display: flex;
  flex-direction: row;
  overflow: auto;

  background-color: variables.$background-color-dark;
}

.menuItemNonInteractive {
  height: variables.$header-height;
  width: auto;
  padding: 5px 15px;

  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: default;
  user-select: none;
  white-space: nowrap;
}

.menuItem {
  @extend .menuItemNonInteractive;

  &:hover {
    color: variables.$highlight-color;
    border-top: variables.$seperator-line;
    padding-top: 4px;
  }
}

.menuItemActive {
  @extend .menuItemNonInteractive;
  border-top: variables.$seperator-line;
  border-top-width: 3px;
  padding-top: 2px;
}

.menuItemChildActive {
  @extend .menuItemActive;

    &:hover {
      color: variables.$highlight-color;
      border-top: variables.$seperator-line;
      padding-top: 4px;
  }
}

.menuItemText {
  margin-left: 10px;
}

.menuProductEntryTextLine1 {
  font-size: 12px;
  margin-left: 10px;
  text-align: left;
}

.menuProductEntryTextLine2 {
  font-size: 22px;
  margin-left: 10px;
}

.menuProductEntryTextLine3 {
  font-size: 12px;
  margin-left: 10px;
  text-align: right;
}

.leftRightSep {
  margin-left: auto;
}
