@use 'variables';

.container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 30px;
  margin: 0 auto 100px auto;

  @media screen and (min-width: 800px) {
    grid-template-columns: repeat(2, auto);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, auto);
  }

  @media screen and (min-width: 1600px) {
    grid-template-columns: repeat(4, auto);
  }
}

.item {
  display: block;
  position: relative;
  z-index: 0;
  width: 350px;
  height: 200px;
  padding: 20px;

  background-color: variables.$background-color-dark;
  border-radius: 10px;
  overflow: hidden;

  a {
    visibility: hidden;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: variables.$highlight-color;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.45s ease-out;
  }

  &:hover {
    transition: all 0.5s ease-out;
    color: #000000;

    a {
      visibility: visible;
    }

    &:before {
      transform: scale(40);
    }
  }
}

.title {
  font-size: 20px;
}
