@use 'variables';

.container {
  color: variables.$font-color;
}

.page_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - #{variables.$header-height});
  margin-top: variables.$header-height;
}

.text_only_content {
  width: 50%;
  margin-bottom: 50px;
}

@mixin bg_img($z: -100) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  cursor: default;
  user-select: none;
}

.backgroundImage {
  @include bg_img(-100);
}

.backgroundImageFilter {
  @include bg_img(-99);
  backdrop-filter: grayscale(100%) blur(2px) brightness(50%);
}

.list {
  list-style-type: disc;
}
