@use 'variables';

.container {
  color: variables.$font-color;
}

.page_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - #{variables.$header-height});
  margin-top: variables.$header-height;
}

.pageContentGray {
  @extend .page_content;
  background-color: variables.$background-color;
}

.text_only_content {
  width: 50%;
  margin-bottom: 50px;

  @media screen and (max-width: 900px) {
    width: unset;
    margin-left: 15px;
    margin-right: 30px;
  }
}

@mixin bg_img($z: -100) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  cursor: default;
  user-select: none;
}

.backgroundImage {
  @include bg_img(-100);
}

.backgroundImageFilter {
  @include bg_img(-99);
  backdrop-filter: grayscale(100%) blur(2px) brightness(45%);
}

.list {
  list-style-type: disc;
}

.floatingWarningContainer {
  width: 100%;
  position: absolute;
  bottom: 5px;
  user-select: none;
}

.floatingWarning {
  margin: 10px auto;
  padding: 15px 35px;
  width: fit-content;

  background-color: variables.$background-color-dark;
  border-radius: 30px;
}

.floatingWarningCloseIcon {
  margin-left: 30px;
  position: relative;
  top: 1px;

  &:hover {
    color: variables.$close-color;
    cursor: pointer;
  }
}
