@use "variables";

.container {
  display: flex;
  margin-bottom: 70px;
  width: 60%;

  @media screen and (max-width: variables.$maxMobileWidth) {
    width: unset;
    margin: 20px;
  }
}

.line {
  margin: -10px 0px -10px;

  border: variables.$highlightColor solid 4px;
  border-radius: 10px;
}

.item {
  display: flex;
  margin: 0 0 20px 20px;
  padding: 15px 0;
  position: relative;

  background-color: variables.$backgroundColor;
  border-radius: 10px;

  &:before {
    content: " ";
    position: absolute;
    top: calc(50% - 10px);
    left: -10px;
    z-index: 1;
    height: 0;
    width: 0;

    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent variables.$backgroundColor transparent transparent;
  }

  &:after {
    content: " ";
    position: absolute;
    top: calc(50% - 11.5px);
    left: -35px;
    width: 15px;
    height: 15px;
    z-index: 1;

    background-color: variables.$backgroundColorDark;
    border: 4px solid variables.$highlightColor;
    border-radius: 50%;
  }
}

.text {
  margin: 0 15px;
}

.date {
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline solid variables.$highlightColor 2px;
}

.image {
  margin: 0 15px;
  min-height: 100%;
}

.imageDescription {
  font-size: 12px;
}
