$background-color: #1a1a1a;
$background-color-dark: #000000;
$highlight-color: #ffcc00;
$font-color: #ffffff;

$seperator-line: $highlight-color 1px solid;

$header-height: 50px;
$music-bar-height: 100px;
