$backgroundColor: #1a1a1a;
$backgroundColorDark: #000000;
$textColor: #ffffff;
$highlightColor: #ffe502;
$disabledColor: #606060;
$closeButtonColor: #b65a5a;

$headerHeight: 50px;
$maxMobileWidth: 1000px;
$roundedCorners: 10px;
