$background-color: #1a1a1a;
$background-color-dark: #000000;
$highlight-color: #ffe502;
$close-color: #b65a5a;
$font-color: #ffffff;

$seperator-line: $highlight-color 1px solid;

$header-height: 50px;
